@using RecipeList.Recipe
@model RecipeList.Accounts.ProfileViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var recipes = (List<Recipe>) ViewData["Recipes"];
}

<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
<script src="~/js/rating.js"></script>

<script type="text/javascript"></script>


<br/><br/>
<div class="card" style="padding: 15px; width: inherit">
    <div class="row">
        <div class="col-md-12">
            <div style="float: right">
                <div class="btn btn-group shadow-lg" style="padding: 0px;">
                    <a class="btn btn-info" style="color: #fff" href="/recipes/user/@Model.UserId">Favorite Recipes</a>
                    <a class="btn btn-info" style="color: #fff" href="/shopping/lists">Shopping Lists</a>
                    <input type="button" class="btn btn-info" id="editBtn" value="Edit Profile"/>
                </div>
            </div>
            <div>
                <h4>
                    Welcome to RecipeList, @Model.DisplayName
                </h4>
                <h6>
                    <em>Username: @Model.Username</em>
                </h6>
                <div style="display: inline-block">
                    Average Recipe Rating :
                    <div id="avgRecipeRating" style="display: inline-flex; color: #f4a460; font-size: 20px">
                        <script>starRating(@Model.Rating, "avgRecipeRating");</script>
                    </div>
                    <br/><br/>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Recipes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <em>@Model.Email</em>
                            </p>
                        </div>
                    </div>
                    <form method="post" action="/account/profile/update">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Display Name</label>
                            </div>
                            <div class="col-md-6">
                                <p id="editableDisplayName">
                                    <em>@Model.DisplayName</em>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Bio</label><br/>
                                <p id="editableBio">
                                    <em>@Model.Bio</em>
                                </p>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="@Model.UserId"/>
                        <input type="submit" class="btn btn-info shadow-sm" id="saveBtn" hidden="true" value="Save"/>
                    </form>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Number of Recipes</label>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <em>@Model.NumberRecipes</em>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Number of ratings</label>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <em>@Model.NumberRatings</em>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Recipe</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for (var i = 0; i < recipes.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>
                                            <a href="/recipes/page/@recipes[i].Id">@recipes[i].Name</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function editable(displayNameVal, bioVal) {
        var displayName = document.getElementById("editableDisplayName");
        var bio = document.getElementById("editableBio");
        document.getElementById("saveBtn").hidden = false;
        displayName.innerHTML = "<input type=\"text\" class=\"form-control\" value=\"" +
            displayNameVal +
            "\" name=\"updatedDisplayName\"/>";
        bio.innerHTML = "<textarea class=\"form-control\" rows=\"4\" cols=\"100\" name=\"updatedBio\">" +
            bioVal +
            "</textarea>";
    }

    var editButton = document.getElementById("editBtn").addEventListener("click",
        function() {
            var name = "@Model.DisplayName";
            var bio = "@Model.Bio";
            editable(name, bio);
        });
</script>