@using RecipeList.Ingredient
@using RecipeList.Recipes
@model RecipeList.Recipe.RecipeInfo
@{
    var ingredients = (List<Ingredient>) ViewData["ingredients"];
}
<!DOCTYPE html>

<html>
<head>
    <title>Edit Recipe</title>
</head>
<body>
<div align="center">
    <h2 class="display-4" style="color: #f0ead6">Edit Recipe</h2><br/>
    <a class="btn btn-info" href="javascript:history.back()">Go Back</a>
    <br/>
    <div style="width: 75%" align="left">
        <br/>
        <form id="recipe-form" action="/recipes/update" method="post" enctype="multipart/form-data">
            <div style="padding: 15px; background: #f0ead6">

                @* Name your Recipe *@
                <div class="form-group">
                    <label for="name" style="color: #1560bd">Recipe Title</label>
                    <input type="text" id="name" name="Name" value="@Model.Recipe.Name" class="form-control"/>
                </div>

                <input type="hidden" name="RecipeId" value="@Model.Recipe.Id"/>

                @* Choose a Category *@
                <div class="form-group">
                    <label for="category" style="color: #1560bd">Category of Recipe</label>
                    <select style="width: 100%" name="Category" id="category">
                        @foreach (var category in Model.Categories)
                        {
                            var isDefault = category.Id == Model.Category.Id;
                            <option selected=@isDefault>@category.Name</option>
                        }
                    </select>
                </div>

                @* Fill in a Description *@
                <div class="form-group">
                    <label for="description" style="color: #1560bd">Brief Description of Recipe</label>
                    <textarea rows="3" style="width: 100%" class="form-control" id="description" name="Description">@Model.Recipe.Description</textarea>
                </div>

                @* Enter your Instructions *@
                <div class="form-group">
                    <label for="instruction" style="color: #1560bd">Detailed list of Instructions</label>
                    <textarea rows="10" style="width: 100%; padding: 15px" id="instruction" name="Instruction" class="form-control" 
                    placeholder="1. First instruction &#10;2. Second Instruction &#10;3. Third Instruction &#10;...">@Model.Recipe.Instruction</textarea>
                </div>

                @* Enter Ingredients and Amounts *@
                <div class="form-group" align="center" id="ingredientDiv">

                    @* Ingredient Input *@
                    <label for="ingredientInput">Ingredient:</label>
                    <input list="ingredients" id="ingredientInput" placeholder="Ingredient"/>
                    <datalist id="ingredients">
                        @foreach (var ing in ingredients)
                        {
                            <option value="@ing.Name"/>
                        }
                    </datalist>

                    @* Amount *@
                    <label for="amount">Amount:</label>
                    <input type="text" id="amount" style="width: 3em"/>


                    @* Amount Type *@
                    <label for="amountType">Unit:</label>
                    <select id="amountType">
                        <option></option>
                        <option>cup(s)</option>
                        <option>lb(s)</option>
                        <option>oz</option>
                        <option>tbsp.</option>
                        <option>tsp.</option>
                    </select>

                    <input type="button" class="btn btn-info" id="add-row" value="Add Ingredient"/>
                    <br/>
                    <small for="ingredientDiv"
                           class="text-body text-muted">
                        Amounts or Units left blank will be ignored.
                    </small>
                </div>

                @* Table to display Ingredients *@
                <div align="center">
                    <div style="width: 60%">
                        <table class="table table-bordered table-light" id="myTable">
                            <thead>
                            <tr>
                                <th scope="col">Ingredient</th>
                                <th scope="col" style="width: 10%">Amount</th>
                                <th scope="col" style="width: 10%">Unit</th>
                                <th scope="col" style="width: 5%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < @Model.RecipeIngredients.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Ingredients[i].Name</td>
                                    <td>@Model.RecipeIngredients[i].Amount</td>
                                    <td>@Model.RecipeIngredients[i].AmountType</td>
                                    <td>
                                        <button type="button" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>

                @* File Upload: Image *@
                <div class="form-group" align="center">
                    <label for="picture" style="color: #1560bd">Optional - Post a photo of your dish</label>
                    <br/>
                    <input style="color: #1560bd" id="picture" name="Photo" type="file"/>
                    <br/>
                    <small for="picture"
                           class="text-body text-muted">
                        Don't upload a photo if you want to keep current photo.
                    </small>
                </div>
            </div>
        </form>

        <form id="deleteForm" action="/recipes/delete" method="POST">
            <input type="hidden" name="DeleteRecipeId" value="@Model.Recipe.Id"/>
        </form>
        
        @* Button to Submit Form *@
        <div align="center" style="background: #f0ead6; padding-bottom: 15px">
            <div class="btn btn-group">
                <button id="add-recipe" class="btn btn-info">Save</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                    Delete
                </button>
            </div>
        </div>
        <script>
            $('#confirm-delete').on('show.bs.modal',
                function(e) {
                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });
        </script>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="display-4" style="color: red">Confirm Deletion</h6>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the recipe titled: <b style="color: red">@Model.Recipe.Name</b>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Take me back</button>
                        <button type="button" class="btn btn-danger" id="delete-list">Yes, Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

@* View Logic *@
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    var ingredientList = [];
    $(document).ready(function() {
        @* Form to delete recipe *@
        $("#delete-list").click(function() {
            $('#deleteForm').submit();
        });
        @* Button to add ingredient to table *@
        $("#add-row").click(function() {
            var name = $("#ingredientInput").val();
            name = name.charAt(0).toUpperCase() + name.slice(1);
            var amount = $("#amount").val();
            var amountType = $("#amountType").val();

            @* Fill blank values with 'N/A' *@
            if (amount === "" || amountType === "") {
                if (amount === "") {
                    amount = "N/A";
                    amountType = "N/A";
                } else if (amountType === "") {
                    amountType = "N/A";
                }
            }

            var ingredientMarkUp =
                "<tr><td>" + name + "</td>";
            var amountMarkUp = "<td>" + amount + "</td>";
            var unitMarkUp = "<td>" + amountType + "</td>";
            var closeMarkUp = "<td><button type='button' class='close' " +
                "aria-label='Close'><span aria-hidden='true'>&times;</span></button></td></tr>";
            @* HTML to be added to Ingredient Table *@
            var markup = ingredientMarkUp + amountMarkUp + unitMarkUp + closeMarkUp;

            @* Reset input boxes and Append to Table *@
            $("#ingredientInput").val("");
            $("#amount").val("");
            $("#amountType").val("");
            $("table tbody").append(markup);
        });
        @* X button to remove row from Ingredient Table *@
        $('#myTable').on('click',
            'button[type="button"]',
            function() {
                $(this).closest('tr').remove();
            });
        @* Button to Submit Form *@
        $("#add-recipe").click(function() {
            var tbl = document.getElementById("myTable");

            var tblIngredients = new Array();
            var tblAmounts = new Array();
            var tblAmountTypes = new Array();

            var dataList = new Array();

            @* Getting Values from Rows in Ingredient Table *@
            for (var i = 1; i < tbl.rows.length; i++) {
                var ingredientName = tbl.rows[i].cells[0].innerHTML;
                var ingredientAmount = tbl.rows[i].cells[1].innerHTML;
                var ingredientAmountType = tbl.rows[i].cells[2].innerHTML;

                $('<input>').attr({
                    type: 'hidden',
                    name: "Ingredients[" + (i - 1) + "].Ingredient",
                    value: ingredientName
                }).appendTo('#recipe-form');
                $('<input>').attr({
                    type: 'hidden',
                    name: "Ingredients[" + (i - 1) + "].Amount",
                    value: ingredientAmount
                }).appendTo('#recipe-form');
                $('<input>').attr({
                    type: 'hidden',
                    name: "Ingredients[" + (i - 1) + "].AmountType",
                    value: ingredientAmountType
                }).appendTo('#recipe-form');
            }
            $('#recipe-form').submit();
        });
    });
</script>