@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using RecipeList.Recipe
@model RecipeList.Recipe.RecipeInfo

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var commentInfo = (List<CommentInfo>) ViewData["CommentInfo"];
    var RecipeOwner = (string) ViewData["RecipeOwner"];
}
<body>
<div class="card" style="background-color: transparent">
    <div align="center" class="card-header" style="background: #f0ead6">
        <h1 class="display-4">@Model.Recipe.Name</h1>
        <b>Category: </b><a href="/recipes/search/category/@Model.Category.Id">@Model.Category.Name</a>
        @if (@Model.Recipe.UploaderId == @Model.CurrentUser)
        {
            <a href="/recipes/edit/@Model.Recipe.Id" class="btn btn-info" style="float: right">Edit</a>
        }<em style="float:left"><b>Submitted by: <a href="/account/user/@Model.Recipe.UploaderId">@RecipeOwner</a></b></em>
    </div>
    <div class="card-body" align="center">
        <div style="width: 75%">
            <div class="container">
                <div class="row">
                    <div style="width: 50%">
                        <div style="float: left">
                            <div class="card">
                                <div class="card-header">
                                    <p class="text-left font-weight-bold">Ingredients</p>
                                </div>
                                <div class="card-body text-left">
                                    @foreach (var ingredient in @Model.IngredientsList)
                                    {
                                        <ul>
                                            <li>@ingredient</li>
                                        </ul>
                                    }
                                </div>
                                <div class="card-footer">
                                    <form action="/shopping/create-list" method="post">
                                        <input type="hidden" name="RecipeId" value="@Model.Recipe.Id"/>
                                        <input type="submit" class="btn btn-info" value="Add items to shopping list"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 50%">
                        <div style="float: right">
                            <div class="card">
                                <div class="card-img-top">
                                    <img class="img-fluid" src="data:image/png;base64, @Model.Image" alt="Picture"/>
                                </div>
                                <div class="card-body">
                                    <p class="text-left">
                                        <em>@Model.Recipe.Description</em>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="card" style="width: 100%">
                        <div class="card-header">
                            <p class="text-left font-weight-bold">Cooking Instructions</p>
                        </div>
                        <div class="card-body" style="white-space: pre-line">
                            <p class="text-left">@Model.Recipe.Instruction</p>
                        </div>
                    </div>
                </div>
                <br/>

                @* Page Comments *@
                <div class="row">
                    <div class="card" style="width: 100%">
                        <div class="card-header">
                            <p class="font-weight-bold" style="float: left">Comments</p>
                            @if (commentInfo.Count == 1)
                            {
                                <p class="font-weight-bold" style="float: right">@commentInfo.Count comment</p>
                            }
                            else
                            {
                                <p class="font-weight-bold" style="float: right">@commentInfo.Count comments</p>
                            }
                        </div>
                        <div class="card-body">
                            <form method="post" action="/comments/save">
                                <div class="form-group" align="left">
                                    <textarea class="form-control" rows="3" placeholder="What are your thoughts?" name="CommentText"></textarea>
                                    <input type="hidden" name="RecipeId" value="@Model.Recipe.Id"/>
                                    <input type="hidden" name="CommentUploader" value="@Model.CurrentUser"/>
                                </div>
                                <button class="btn btn-info" style="float: right">Comment</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            @foreach (var comment in commentInfo)
                            {
                                <div class="card" align="left">
                                    <div class="card-header" style="line-height: .05em">
                                        <b><a href="/account/user/@comment.CommentObj.UserId">@comment.Commenter:</a></b>
                                    </div>
                                    <div class="card-body">
                                        @comment.CommentObj.CommentText
                                    </div>
                                    <div class="card-footer" style="line-height: .05em">
                                        @comment.CommentObj.CreatedAt
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @* End of comments *@
            </div>
        </div>
    </div>
</div>
</body>