@using RecipeList.Comment
@model RecipeList.Recipe.RecipeInfo

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var commentInfo = (List<CommentInfo>) ViewData["CommentInfo"];
    var RecipeOwner = (string) ViewData["RecipeOwner"];
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <style>
        .checked { color: orange; }
    </style>
    <title>@Model.Recipe.Name</title>
</head>

<div class="card" style="background-color: transparent">
    @* Card header holds Title, category, uploader, star rating interface and 
        an edit button if the viewer created the recipe *@
    <div align="center" class="card-header" style="background: #f0ead6">
        @if (@Model.Recipe.UploaderId == @Model.CurrentUser)
        {
            <a href="/recipes/edit/@Model.Recipe.Id" class="btn btn-info">Edit Recipe</a><br/>
        }
        <h1 class="display-4" style="display: inline-block">@Model.Recipe.Name</h1>
        <br/>
        <b>Category: </b><a href="/recipes/search/category/@Model.Category.Id">@Model.Category.Name</a>

        <br/>
        <em>
            <b>Submitted by: <a href="/account/user/@Model.Recipe.UploaderId">@RecipeOwner</a></b>
        </em>
        <div>
            @for (var i = 0; i < 5; i++)
            {
                var idString = ("star" + @i.ToString());
                if (i < @Model.Rating)
                {
                    <text>
                        <span class="fa fa-star checked" id=@idString onclick="add(this, @i)"></span>
                    </text>
                }
                else
                {
                    <text>
                        <span class="fa fa-star" id=@idString onclick="add(this, @i)"></span>
                    </text>
                }
            }
            @if (@Model.RatingCount == 1)
            {
                <span>@Model.RatingCount Rating</span>
            }
            else
            {
                <span>@Model.RatingCount Ratings</span>
            }
        </div>
    </div>
    @* Card body contains multiple cards that hold instructions, 
        ingredients, a photo and description as well as comments *@
    <div class="card-body" align="center">
        <div style="width: 75%">
            <div class="container">
                <div class="row">
                    <div style="width: 50%">
                        <div style="float: left">
                            <div class="card">
                                <div class="card-header">
                                    <p class="text-left font-weight-bold">Ingredients</p>
                                </div>
                                <div class="card-body text-left">
                                    @foreach (var ingredient in @Model.IngredientsList)
                                    {
                                        <ul>
                                            <li>@ingredient</li>
                                        </ul>
                                    }
                                </div>
                                <div class="card-footer">
                                    <form action="/shopping/create-list" method="post">
                                        <input type="hidden" name="RecipeId" value="@Model.Recipe.Id"/>
                                        <input type="submit" class="btn btn-info" value="Add items to shopping list"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 50%">
                        <div style="float: right">
                            <div class="card">
                                <div class="card-img-top">
                                    <img class="img-fluid" src="data:image/png;base64, @Model.Image" alt="Picture"/>
                                </div>
                                <div class="card-body">
                                    <p class="text-left">
                                        <em>@Model.Recipe.Description</em>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="card" style="width: 100%">
                        <div class="card-header">
                            <p class="text-left font-weight-bold">Cooking Instructions</p>
                        </div>
                        <div class="card-body" style="white-space: pre-line">
                            <p class="text-left">@Model.Recipe.Instruction</p>
                        </div>
                    </div>
                </div>
                <br/>

                @* Page Comments *@
                <div class="row">
                    <div class="card" style="width: 100%">
                        <div class="card-header">
                            <p class="font-weight-bold" style="float: left">Comments</p>
                            @if (commentInfo.Count == 1)
                            {
                                <p class="font-weight-bold" style="float: right">@commentInfo.Count comment</p>
                            }
                            else
                            {
                                <p class="font-weight-bold" style="float: right">@commentInfo.Count comments</p>
                            }
                        </div>
                        <div class="card-body">
                            <form method="post" action="/comments/save">
                                <div class="form-group" align="left">
                                    <textarea class="form-control" rows="3" placeholder="What are your thoughts?" name="CommentText"></textarea>
                                    <input type="hidden" name="RecipeId" value="@Model.Recipe.Id"/>
                                    <input type="hidden" name="CommentUploader" value="@Model.CurrentUser"/>
                                </div>
                                <button class="btn btn-info" style="float: right">Comment</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            @foreach (var comment in commentInfo)
                            {
                                <div class="card" align="left">
                                    <div class="card-header" style="line-height: .05em">
                                        <b>
                                            <a href="/account/user/@comment.CommentObj.UserId">@comment.Commenter:</a>
                                        </b>
                                    </div>
                                    <div class="card-body">
                                        @comment.CommentObj.CommentText
                                    </div>
                                    <div class="card-footer" style="line-height: .05em">
                                        @comment.CommentObj.CreatedAt
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @* End of comments *@
            </div>
        </div>
    </div>
</div>
<form id="hiddenForm" action="/recipes/submit-rating" method="post">
    <input hidden="true" value="" name="rating" id="rating"/>
    <input hidden="true" value="@Model.Recipe.Id" name="rId"/>
    <input hidden="true" value="@Model.CurrentUser" name="currentUser"/>
</form>

<script>
    function add(ths, sno) {

        document.getElementById("rating").value = sno + 1;
        document.getElementById("hiddenForm").submit();

        for (var i = 0; i <= 4; i++) {
            var cur = document.getElementById("star" + i);
            cur.className = "fa fa-star";
        }

        for (var i = 0; i <= sno; i++) {
            var cur = document.getElementById("star" + i);
            if (cur.className === "fa fa-star");
            {
                cur.className = "fa fa-star checked";
            }
        }

    }
</script>