@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model RecipeList.Recipe.RecipeInfo

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<body>
<div class="card" style="background-color: transparent">
    <div align="center" class="card-header" style="background: #f0ead6">
        <h1 class="display-4">@Model.Recipe.Name</h1>
        @Model.Category.Name
    </div>
    <div class="card-body" align="center">
        <div style="width: 75%">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <p class="text-left font-weight-bold">Ingredients</p>
                            </div>
                            <div class="card-body text-left">
                                @foreach (var ingredient in @Model.IngredientsList)
                                {
                                    <ul>
                                        <li>@ingredient</li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-img-top">
                                <img class="img-fluid" src="data:image/png;base64, @Model.Image" alt="Picture"/>
                            </div>
                            <div class="card-body">
                                <p class="text-left">
                                    <em>@Model.Recipe.Description</em>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-left font-weight-bold">Cooking Instructions</p>
                        </div>
                        <div class="card-body" style="white-space: pre-line">
                            <p class="text-left">@Model.Recipe.Instruction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>